{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock title %}
{% for cat in category %}
                    <li class="nav-item">
                        <div class="form-check ">
                            {% comment %} <input class="form-check-input" type="radio" name="category" id="{{cat.id}}"> {% endcomment %}
                            <label class="form-check-label text-white" for="{{cat.id}}">
                                <a href="{% url "category_wise_post" cat.slug %}" class="text-decoration-none text-white fs-5">{{cat.name}}</a>
                            </label>
                        </div>
                    </li>
                    {% endfor %}
{% block content %}
<!--main content view-->
  <div class="m-5">
        <div class="btn-group my-5">
            <button class="btn btn-primary disabled">Category</button>
            {% for cat in category %}
            <button class="btn btn-outline-primary">
                                <a href="{% url "category_wise_post" cat.slug %}" class="text-decoration-none text-dark fs-5">{{cat.name}}</a>
                </button>
                {% endfor %}
        </div>
        <!-- Content Section start -->
        <div class="col py-3">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Card Start -->
                {% for book in data %}
                <div class="col">
                    <div class="card shadow">
                    <img src="{{book.image.url}}" class="card-img-top p-2 w-25 m-auto"
                        alt="{{book.name}}" />
                    <div class="card-body">
                        <h5 class="card-title">{{book.name}}</h5>
                        <h6 class="card-subtitle my-2">Publish Date: {{book.created_at}}</h6>
                        <h6 class="card-subtitle my-2">
                            Author: <a href="{% url "author_profile" book.author.user.id %}" class="text-decoration-none">
                                {{book.author.user.first_name}} {{book.author.user.last_name}}
                            </a>
                        </h6>
                        <div class="btn-group">
                            {% for category in book.category.all %}
                            <button class="btn btn-sm btn-outline-primary disabled">{{category}}</button>
                            {% endfor %}
                        </div>
                        </p>
                        <p class="card-text">
                        {{book.description | truncatewords:20}}
                        </p>
                        <a href="{% url "details_book" book.id %}" class="btn btn-primary">More</a>
                    </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Card End -->
            </div>
            <!-- Content Section End -->
            
        </div>

</div>
{% endblock content %}